################################################################################
#                                 WebApp .env                                  #
################################################################################

##
# Misc
##

NEXTAUTH_URL=http://localhost:3000
LOG_LEVEL=info

##
# Database
##

DATABASE_URL="postgresql://postgresql:secret@localhost:5432/postgresql"
PGHOST="localhost"
PGPORT=5432
PGUSER=postgresql
PGPASSWORD=secret
PGDATABASE=postgresql
POSTGRES_PORT=5432
POSTGRES_TEST_PORT=5433
POSTGRES_E2E_PORT=5474
TRAEFIK_PORT=8080

##
# Auth & Keycloak
##

BASE_URL=http://localhost:3000

NEXTAUTH_SECRET=TBD # Peut être généré par la commande `openssl rand -base64 32`

# Mot de passe admin pour le dev local. Incompatible avec Keycloak — laisser
# vide en production pour forcer le passage par Keycloak.
DEV_PASSWORD="mot de passe"

KEYCLOAK_CLIENT_ID=TBD
KEYCLOAK_CLIENT_SECRET=TBD
KEYCLOAK_ISSUER=TBD
KEYCLOAK_PUBLIC_ISSUER=TBD

##
# CRON
##

CRON_AUTH_SECRET=TBD
